@model IEnumerable<DziennikCszarp.Models.Obecnosci>
@{
    ViewBag.Title = "Presents";
    Layout = "~/Views/Shared/_LayoutN.cshtml";
}
@if (Model.Count() < 1)
{
    <br />
    <h3 style="float: left; width: 92%;">Brak zarejestrowanych rekordów tego dnia związanych z obecnością.</h3>
    <button class="btn btn-dark" type="submit" style="float: left;"> @Html.ActionLink("Dodaj Obecność", "AddPresent", "Pupils", null, new { style = "color: white;" }) </button>
}
else
{
    <br />
    <h2 style="float: left; width: 92%;">Obecności Uczniów na danym przedmiocie dla danej klasy w danym dniu</h2>
    <button class="btn btn-dark" type="submit" style="float: left;"> @Html.ActionLink("Dodaj Obecność", "AddPresent", "Pupils", null, new { style = "color: white;" }) </button>
    <table class="table  table-striped table-sm table-idx" style="border: 3px solid #000000 !important;">
        <thead style="border: 3px solid #000000 !important;">
            <tr class="table-dark" style="border: 3px solid #000000 !important;">
                <th scope="col" style="border: 3px solid #000000 !important;">Nr</th>
                <th scope="col" style="border: 3px solid #000000 !important;">Imię</th>
                <th scope="col" style="border: 3px solid #000000 !important;">Nazwisko</th>
                <th scope="col" style="border: 3px solid #000000 !important;">Data</th>
                <th scope="col" style="border: 3px solid #000000 !important;">GodzinaZajec</th>
                <th scope="col" style="border: 3px solid #000000 !important;">Obecny</th>
                <th scope="col" style="border: 3px solid #000000 !important;">Akcja</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            if (@item.CzyObecny == "NIE")
            {
                <tr style="border: 3px solid #000000 !important; color: red;">
                    <td style="border: 3px solid #000000 !important;">@item.IDUcznia</td>
                    <td style="border: 3px solid #000000 !important;">@item.Imie</td>
                    <td style="border: 3px solid #000000 !important;">@item.Nazwisko</td>
                    <td style="border: 3px solid #000000 !important;">@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                    <td style="border: 3px solid #000000 !important;">@item.GodzinaZajec</td>
                    <td style="border: 3px solid #000000 !important;">@item.CzyObecny</td>
                    <td style="border: 3px solid #000000 !important;">
                        <a href="@Url.Action("EditPresent", "Pupils", new {@id=@item.IDObecnosci })" class="table-link">Edytuj</a>
                        <a href="@Url.Action("DelPresent", "Pupils", new {@id=@item.IDObecnosci })" class="table-link" onclick="return confirm('Czy jesteś pewny, że chcesz usunąć ten rekord?');">Usuń</a>
                    </td>
                </tr>
            }
            else
            {
                <tr style="border: 3px solid #000000 !important;">
                    <td style="border: 3px solid #000000 !important;">@item.IDUcznia</td>
                    <td style="border: 3px solid #000000 !important;">@item.Imie</td>
                    <td style="border: 3px solid #000000 !important;">@item.Nazwisko</td>
                    <td style="border: 3px solid #000000 !important;">@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                    <td style="border: 3px solid #000000 !important;">@item.GodzinaZajec</td>
                    <td style="border: 3px solid #000000 !important;">@item.CzyObecny</td>
                    <td style="border: 3px solid #000000 !important;">
                        <a href="@Url.Action("EditPresent", "Pupils", new {@id=@item.IDObecnosci })" class="table-link">Edytuj</a>
                        <a href="@Url.Action("DelPresent", "Pupils", new {@id=@item.IDObecnosci })" class="table-link" onclick="return confirm('Czy jesteś pewny, że chcesz usunąć ten rekord?');">Usuń</a>
                    </td>
                </tr>
            }
            
        }
    </table>
}